
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
     
      <div class="navbar">
        
        <ul>
          <li>
            <img class="logo"  [src]="'../../assets/public/logo.png'" alt="logo" width=60%>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">DECONNEXION</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <form [formGroup]="postForm" >
   <h2 formControlName="username">bienvenue {{ username}} </h2>
    <input type="text" formControlName="message">
    <input type="file" formControlName="file" >
    <div formControlName="created_at"></div>
   <button type="submit">Ajouter le post</button>



  </form>